# Ambiente Virtual
venv/
.venv/

# Ficheiros de Configuração Secreta
.env
.env.*

# Pasta SSL (Contém chaves privadas)
ssl/

# Ficheiros temporários e cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Logs
*.log
logs/

# Configurações de IDE
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db