# Ambientes Virtuais
venv/
.venv/

# Ficheiros de Configuração Secreta
.env
.env.*

# Pasta SSL (Contém chaves privadas)
ssl/

# === DADOS E LOGS GERADOS ===
# (Ignora as pastas de log do Loki, Mongo e API)
loki/
loki_data/
mongo_logs/
api_logs/
*.log

# Ficheiros temporários e cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Configurações de IDE
.vscode/
.idea/

# Sistema Operacional
.DS_Store
Thumbs.db

# Ficheiros zip e tar
*.zip
*.tar
*.tar.gz
*.rar

#Ficheiros de certificado
*.crt
*.cer
*.key
*.pem
