auth_enabled: false

server:
  http_listen_port: 3100

# === Bloco NOVO adicionado aqui ===
# Diz ao 'distribuidor' (que recebe os logs) para
# não se preocupar com réplicas.
distributor:
  ring:
    kvstore:
      store: inmemory

ingester:
  wal:
    dir: /loki/wal
  lifecycler:
    ring:
      kvstore:
        store: inmemory
      # === LINHA MÁGICA ADICIONADA AQUI ===
      # Diz ao 'ingester' (que salva os logs) que 1 réplica é o bastante.
      replication_factor: 1
    final_sleep: 0s

schema_config:
  configs:
    - from: 2020-10-24
      store: boltdb-shipper
      object_store: filesystem
      schema: v11
      index:
        prefix: index_
        period: 24h

storage_config:
  boltdb_shipper:
    active_index_directory: /loki/index
    cache_location: /loki/cache
    shared_store: filesystem

  filesystem:
    directory: /loki/chunks

limits_config:
  ingestion_rate_mb: 10
  ingestion_burst_size_mb: 20
  max_cache_freshness_per_query: 10m

chunk_store_config:
  max_look_back_period: 0s

table_manager:
  retention_deletes_enabled: true
  retention_period: 24h

compactor:
  working_directory: /loki/compactor
  shared_store: filesystem